<script>
  var markers = [
    {% for post in site.posts %}
      ['{{ post.title }}', {{ post.latlong[0] }}, {{ post.latlong[1] }}, {{ forloop.index }}],
    {% endfor %}
  ];
  var map = null
  function initMap() {

    // Data for the markers consisting of a name, a LatLng and a zIndex for the
    // order in which these markers should display on top of each other.

    var avgLat = 0
    var avgLong = 0;
    for (var i = 0; i < markers.length; i++) {
      avgLat += markers[i][1];
      avgLong += markers[i][2];
    }
    avgLat /= markers.length;
    avgLong /= markers.length;
    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 4,
      center: {lat: avgLat, lng: avgLong },
      mapTypeId: 'roadmap',
      mapTypeControl: false,
      streetViewControl: false,
      rotateControl: false
    });
    // setMarkers(map);
  }
</script>
<script 
  src="https://maps.googleapis.com/maps/api/js?key={{ site.google_maps_API }}&callback=initMap">
</script>
<script>
  function setMarkers(map) {
    for (var i = 0; i < markers.length; i++) {
      var marker = markers[i];
      var googleMarker = new google.maps.Marker({
        position: {lat: marker[1], lng: marker[2]},
        map: map,
        title: marker[0],
        zIndex: marker[3]
      });
    }
  }
  function plotMarker(lat, long) {
    var location = {lat: lat, lng: long};
    var googleMarker = new google.maps.Marker({
      position: location,
      map: map,
      zIndex:100
    });
    map.setCenter(location);
    map.setZoom(14);
  }
</script>


<script type="text/javascript" src="{{ site.baseurl }}js/noframework.waypoints.min.js"></script>
<script defer type="text/javascript">
  {% for post in site.posts reversed %}
    var waypointUp{{ forloop.index }} = new Waypoint({
      element: document.getElementById('post-card-{{ forloop.index }}'),
      handler: function(direction) {
        if (direction == 'up')
        plotMarker({{post.latlong[0]}},{{post.latlong[1]}});
      },
      offset: '40%'
    });

    var waypointDown{{ forloop.index }} = new Waypoint({
      element: document.getElementById('post-card-{{ forloop.index }}'),
      handler: function(direction) {
        if (direction == 'down')
        plotMarker({{post.latlong[0]}},{{post.latlong[1]}});
      },
      offset: '60%'
    });
  {% endfor %}
</script>

{% if site.google-tracking-id %}

  <!-- Google Tracking Id Start -->

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '{{ site.google-tracking-id }}', 'auto');
    ga('send', 'pageview');
  </script>

  <!-- Google Tracking Id End -->

{% endif %}
