---
layout: default
---
<header>
  <div id="home-header" class="elevated">
    <h1>{{ site.title }}</h1>
    <span id="home-subheader">
      {{ site.tagline }}
    </span>
  </div>
  <div id="map">
  </div>
</header>
<article>
  <div class="container">
    <ul class="posts">
      {% for post in site.posts reversed %}
        <li id="post-card-{{ forloop.index }}" class="elevated">
          <div class="post-card-image" style="background-image: url({{ site.baseurl }}images/{{post.images[0]}})">
          </div>
          <div class="post-card-text">
            <h2><a href="{{ site.baseurl }}{{ post.url }}">{{forloop.index}}) {{ post.title }}</a></h2>
            {{ post.excerpt }}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</article>