---
layout: default
---
<header id="home-sidebar" style="background-image: url({{ site.baseurl }}{{ site.sidebar_image }});">
  <div id="map">
  </div>
</header>
<article>
  <div id="home-header">
    <h1>{{ site.title }}</h1>
    <span id="home-subheader">
      {{ site.tagline }}
    </span>
  </div>
  <div class="container">
    <ul class="posts">
      {% for post in site.posts %}
        <li>
          <div class="post-card-image" style="background-image: url({{ site.baseurl }}{{post.featured_image}})">
          </div>
          <div class="post-card-text">
            <h2><a href="{{ site.baseurl }}{{ post.url }}">{{forloop.index}}) {{ post.title }}</a></h2>
            <span class="meta">
              {{ post.date | date_to_string }}
            </span>
            {{ post.excerpt }}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</article>