---
layout: default
---
<header>
  <div id="home-header" class="elevated">
    <h1>{{ page.date | date: "%-d" }}) {{ page.title }}</h1>
  </div>
  <div class="post-header-image" style="background-image: url({{ site.baseurl }}images/{{ page.images[0] }});">
    <div class="container post-container">
      <a href="{{ site.baseurl }}" class="home_button post_button"></a>
      <ul class="pagination">
        {% if page.previous.url %}
          <li class="previous post_button">
            <a href="{{ page.previous.url }}">
              Previous
            </a>
          </li>
        {% endif %}
        {% if page.next.url %}
        <li class="next post_button">
          <a href="{{ page.next.url }}">
            Next
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
  <div id="map">
  </div>
</header>

<article class="post-article">
  <div class="container">
    {{ content }}
  </div>
</article>
